@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
	height: 2581px;
	width: 1366px;
	margin:0 auto;
	padding: 0;
}
/* header {

} */

/* base */
body header {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	min-width: 320px;
	/* margin:0 auto */
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}

.containerheader {
	max-width: 2100px;
	margin: 0 auto;
	/* flex-direction: row; */
}

.navigation {
	display: inline-flex;
	height: 130px;
	justify-content: space-around;
}

.logo {
	cursor: pointer;
}

.menu {
	position: relative;
	left: 1050px;
	cursor: pointer;
}

.title {
	height: 250px;
	background-image: url(../img/bgtitle.png);              /* ??? */
	/* background-color: #5da3f8; */
}

h1 {
	font-family: "Roboto";
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: 74px;
	letter-spacing: 0.04em;
	text-align: center;
	padding-top: 50px;
	color: #fff;

}

.titletext {
	font-family: "Roboto";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.04em;
	text-align: center;
	width: 780px;
	display: flex;
	margin: 0 auto;
	padding-bottom: 50px;
	color: rgba(255, 255, 255, 0.6);
}

h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	margin: 0 0 32px;
}


/* Main */                /*    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



.center {
	height: 1545px;
	max-width: 1140px;     
	padding: 0;
	margin: 0 auto;
	
}

.contacts {
	height: 670px;
	width: 300px;
	left: 100px;
	top: 135px;
	border-radius: 0px;
	position: relative;
	margin: 0px;
	display: flex;
	flex-direction:column;
	font-family: "Roboto";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.05em;
	text-align: left;
}

h3 {
	color:#1F3F68;
}

p {
	color:#1F3F68;
}
.moman__img {
	position:relative;
	display: block;
}


.address .phone .online {
	margin: 0;
	padding-top: 100;
	height: 200px;
	display: block;
}

.address {
	margin-top: 20px;
	height: 150px;
}

.phone {
	height: 150px;
}

.online {
	height: 150px;
	cursor: pointer;
}


.language__wite .email__wite .phone__wite {
	position: absolute;
}

.language__wite {
	/* background-color: red; */
	position: absolute;
	left: 132px;
	top: 4px;

}

.email__wite {
	/* background-color: red; */
	position: absolute;
	left: 60px;
	top: 4px;
}

.phone__wite {
	/* background-color: red;	 */
	position: absolute;
	left: 42px;
	top: 61px;
}

h2 {
	color:#1F3F68;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.04em;
	text-align: left;
}

.form {
	height: 800px;
	width: 540px;
	left: 500px;
	top: -600px;              
	border-radius: 10px;
	position: relative;
	box-shadow: 3px 4px 5px 6px #316099; 
	margin: 0;
}
 
.wrapper {
	display: block;
	position: relative;
	width: 430px;
	padding: 57px;
}

.wrapper > h2 {
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.04em;
	text-align: left;

}

h3 {
	font-family: "Roboto";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.04em;
	text-align: left;
}

.send {
	width: 428px;
	height: 50px;
	left: 670px;
	top: 570px;	
}

input {
	font-size: 16px;
    padding: 28px 0px 28px 28px; 
	width: 400px;
	border: #316099 solid 1px;
	border-radius: 10px;
}

#input3 {
	border: none;
}

.fullname {
	width: 428px;
	height: 110px;
}

.emailform {
	width: 428px;
	height: 100px;
	left: 670px;
	top: 712px;
}

.message {
	width: 428px;
	height: 144px;
	left: 670px;
	top: 854px;
	/* padding: 0px 0px 0px 0px; */
	border: #316099 solid 1px;
	/* background-color:silver; */
	border-radius: 10px;
		
}
button {
	width: 428px;
	height: 72px;
	/* left: 670px; */
	/* top: 1108px; */
	border-radius: 10px;
	background: #316099;
	margin-top: 55px;
	cursor: pointer;
}

.wite {
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #fff
}

.map {
	position: relative;
	width: 940px;
	height: 480px;
	top: -510px;
	background: url(../img/map.png);
	margin:0 auto;
}


/* footer */                    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
footer {
	background: #316099;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	top: 1924px;
}
footer button {
	width: 240px;
	height: 60px;
	background: #5a98d0;
	color: #fff;
	border: none;
	font: inherit;
	letter-spacing: 0.05em;
	cursor: pointer;
}
.topfooter {
	padding: 90px 0 95px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.topfooter .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footertext {
	width: 500px;
}
.footertext > div {
	opacity: 0.6;
}
/*
ol.container {
	display: flex;
	list-style-type: upper-alpha;
	gap: 32px;
}
ol.container li {
	flex: 1 1 320px;
	padding-left: 40px;
}
*/
.middlefooter .container {
	display: flex;
	gap: 160px;
	padding: 64px 0;
}
.middlefooter span {
	display: block;
	flex: 1 1 320px;
	padding: 0 0 0 40px;
	position: relative;
}
.middlefooter span::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "T.";
}
.middlefooter span:first-child::before {
	content: "A.";
}
.middlefooter span:last-child::before {
	content: "E.";
}
.bottomfooter {
	opacity: 0.4;
	padding: 0 0 64px;
}
                                                 /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* планшетный вид */
@media (max-width: 1200px) {
	.container {
		max-width: 800px;
	}
	.middlefooter .container {
		gap: 80px;
	}
	.middlefooter span {
		padding: 0 0 0 25px;
	}
	.footertext {
		width: 400px;
	}
	footer button {
		width: 200px;
		height: 40px;
	}
}
@media (max-width: 860px) {
	.container {
		max-width: 520px;
	}
	.topfooter {
		padding: 50px 0 60px;
	}
	.footertext {
		width: 340px;
	}
	footer button {
		width: 130px;
		height: 30px;
	}
	.middlefooter .container {
		display: block;
		/*
		padding-bottom: 40px;
		*/
	}
	.middlefooter span {
		padding: 0 0 24px 60px;
	}
	.middlefooter span:last-child {
		padding: 0 0 0 60px;
	}
}
/* мобильный вид */
@media (max-width: 550px) {
	.container {
		padding: 0 15px;
	}
	.middlefooter .container {
		padding: 64px 15px;
	}
}
